<nav class="bg-black text-white dark:bg-secondary-foreground/70 border-b border-white/30 backdrop-blur-md fixed top-0 left-0 w-full z-50 py-4 ">
    <div class="w-11/12 mx-auto flex justify-between items-center">
        <button class="cursor-pointer">

            <i class="pi pi-bars rounded-full hover:bg-primary/60 p-3 duration-300 cursor-pointer" style="color: var(--primary-color)" (click)="openOptionsSheet()"></i>
        </button>
        <h3 class="text-lg">Dine <span class="font-semibold">Cognizant</span> </h3>
        <div class="flex items-center gap-1">
            <i class="pi pi-map-marker " style="color: var(--primary-color)"></i>
            <p class="font-light cursor-not-allowed ">{{currentUser.location}}</p>
            <span class="text-secondary/40">·</span>
            <p class="font-light text-xs ">Now</p>
            <i class="pi pi-angle-down cursor-pointer" style="color: var(--primary-color)"></i>
        </div>
        <div class=" px-4 py-1.5 bg-secondary/20 rounded-full w-1/2 flex items-center gap-3">
            <i class="pi pi-search" style="color: var(--primary-color)"></i>
            <input type="text" placeholder="Search for restaurant, cuisine or a dish" class=" text-sm font-mono  bg-transparent outline-none text-primary-foreground placeholder:text-primary-foreground/20 flex-1 " />
        </div>
        <div class="flex items-center">
            <button class=" cursor-pointer relative " (click)="openCartSheet()">
                <i class="pi pi-shopping-cart rounded-full hover:bg-primary/60 p-3 duration-300" style="color: var(--primary-color)"  ></i>
                @if((cartItems$ | async)?.length){
                    <span class="absolute top-0.5  right-0 w-[17px] h-[17px] rounded-full bg-primary text-xs flex items-center justify-center ">{{(cartItems$ | async)?.length}}</span>
                }
            </button>
            <z-switch [(ngModel)]="isDarkMode" (onChange)="toggleTheme()" class="ml-4"></z-switch>

        </div>


    </div>
</nav>
